{{<layout}}
{{$content}}
<div class="pure-g">
    <div class="pure-u-1">
        <table class="pure-table pure-table-striped width-max">
            <thead>
            <tr>
                <th style="width: 30%">Key</th>
                <th style="width: 60%">Value</th>
                <th style="width: 10%" class="align-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {{#stage}}
                <tr>
                    <td>description</td>
                    <td colspan="2">{{description}}</td>
                </tr>
                <tr>
                    <td>workerCount</td>
                    <td>{{workerCount}}</td>
                    <td class="align-center"><a class="button-xsmall pure-button" href="/stages/{{id}}/workers">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>workerRanker</td>
                    <td colspan="2"><code>{{workerRankerName}}</code></td>
                </tr>
                <tr>
                    <td>taskCount</td>
                    <td>{{taskCount}}</td>
                    <td class="align-center"><a class="button-xsmall pure-button"
                                                href="/stages/{{id}}/tasks">Details</a></td>
                </tr>
                <tr>
                    <td>taskAllocator</td>
                    <td colspan="2"><code>{{taskAllocatorName}}</code></td>
                </tr>
                <tr>
                    <td>answerCount</td>
                    <td>{{answerCount}}</td>
                    <td class="align-center"><a class="button-xsmall pure-button" href="/stages/{{id}}/answers">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>answerAggregator</td>
                    <td colspan="2"><code>{{answerAggregatorName}}</code></td>
                </tr>
            {{/stage}}
            </tbody>
        </table>
        <h2>Additional Options</h2>
        <table class="pure-table pure-table-striped width-max">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            {{#options}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
            {{/options}}
            {{^options}}
                <tr>
                    <td colspan="2"><i class="fa fa-info"></i>&nbsp; No additional options found.</td>
                </tr>
            {{/options}}
            </tbody>
        </table>
    </div>
</div>
{{/content}}
{{/layout}}
