{{<layout}}
{{$content}}
<div class="pure-g">
    <div class="pure-u-1">
        <table class="pure-table pure-table-striped width-max">
            <thead>
            <tr>
                <th style="width: 16%">ID</th>
                <th style="width: 48%">Description</th>
                <th style="width: 12%" class="align-center">Workers</th>
                <th style="width: 12%" class="align-center">Tasks</th>
                <th style="width: 12%" class="align-center">Answers</th>
            </tr>
            </thead>
            <tbody>
            {{#stages}}
                <tr>
                    <td><a href="/stages/{{id}}">{{id}}</a></td>
                    <td>{{description}}</td>
                    <td class="align-center">{{#workerCount}}{{id}}{{/workerCount}}</td>
                    <td class="align-center">{{#taskCount}}{{id}}{{/taskCount}}</td>
                    <td class="align-center">{{#answerCount}}{{id}}{{/answerCount}}</td>
                </tr>
            {{/stages}}
            {{^stages}}
                <tr>
                    <td colspan="5"><i class="fa fa-info"></i>&nbsp; No stages for you.</td>
                </tr>
            {{/stages}}
            </tbody>
        </table>
    </div>
</div>
{{/content}}
{{/layout}}
